h1 {
	color: white;
	margin: 0px;
	padding-left: 30px;
}

nav{
	width: 100%;
	background-color: rgba(40, 135, 0, 1);
	border-bottom: 4px solid rgb(215, 215, 215);
}

.nav-link{
	text-decoration: none;
}

.nav-link-title:hover{
	border-bottom: 2px solid rgb(210, 210, 210);
}

header{
	z-index: 999;
	position: absolute;
	width: 100%;
	background-color: rgba(40, 135, 0, 0.873);
}

/* Establecer la imagen de fondo para el elemento body */
.background{
	background-image: url(./assets/img/staduim-bck.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	min-height: 700px;
	height: 100vh;
}

/* Establecer la imagen de fondo para el elemento body */
.partido-bck{
	background-image: url(./assets/img/staduim-bck.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flow-root;
}


.container{
	background-color: rgba(40, 135, 0, 0.88);
	max-width: 550px !important;
	height: fit-content;
	margin-top: 130px;
	border: 4px solid rgb(215, 215, 215);
	border-radius: 4%;
}

.sub-container{
	background-color: rgba(40, 135, 0, 0.88);
	max-width: 550px !important;
	max-height: auto; 
	border: 4px solid rgb(215, 215, 215);
	margin: auto;
}


.form-labels{
	max-width: 144px !important;
}

.form-check-input[type=checkbox] {
	width: 2em;
	height: 2em;
  }

.formulario{
	max-width: 300px;
}