h1 {
	color: white;
	margin: 0px;
	padding-left: 30px;
}

header{
	z-index: 999;
	position: absolute;
	width: 100%;
	background-color: rgba(40, 135, 0, 0.873);
	border-bottom: 4px solid rgb(215, 215, 215);
}

/* Establecer la imagen de fondo para el elemento body */
.background{
	background-image: url(./assets/img/staduim-bck.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	min-height: 700px;
	height: 100vh;
}


.container{
	background-color: rgba(40, 135, 0, 0.88);
	max-width: 550px !important;
	max-height: 560px; 
	margin-top: 130px;
	border: 4px solid rgb(215, 215, 215);
	border-radius: 4%;
}

.form-check-input[type=checkbox] {
	width: 2em;
	height: 2em;
  }

.formulario{
	max-width: 300px;
}