h1 {
	background-color: #1c703d;
	color: white;
	margin: 0px;
	padding-left: 30px;

}

header{
	z-index: 999;
}

/* Establecer la imagen de fondo para el elemento body */
.background{
	background-image: url(banfiellld.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;

}

/* Aplicar un filtro de desenfoque y un filtro de brillo a la imagen de fondo */
/* .background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	filter: blur(2px) brightness(0.8);
	-webkit-filter: blur(2px);
	z-index: -1;
  } */
  
  /*
  main{
	  background-color: rgba(255, 238, 0, 0.6);
	backdrop-filter: blur(6px);
	padding: 2%;
	box-shadow: solid 0px 0px 12px;
}
*/


.container{
	background-color: rgba(255, 238, 0, 0.6);
	max-width: 550px !important;
}

.form-check-input[type=checkbox] {
	width: 2em;
	height: 2em;
  }

.formulario{
	max-width: 300px;
}